.popup-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  width: 60%;
  height: 90vh;
  padding: 30px 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  overflow-y: scroll;
  color: #d2d1d3;
  background-color: #2e3130;
}

.popup-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-img {
  width: 65%;
  height: 50vh;
  filter: drop-shadow(2px 4px 6px black);
  border-radius: 10px;
}

.popup-desc {
  display: flex;
  flex-direction: column;
  width: 60%;
  font-size: 1.1em;
  padding: 2.5em 0;
}

h3 {
  align-self: center;
  font-size: 2em;
  padding: 2em 0 1em 0;
  font-weight: bold;
  filter: drop-shadow(2px 4px 6px black);
  letter-spacing: 2px;
}

.popup-desc b {
  color: #e1362c;
  letter-spacing: 3px;
  font-size: 1.2em;
  filter: drop-shadow(2px 4px 6px black);
}

.meal-links {
  display: flex;
  gap: 2em;
  width: 60%;
}

.meal-links a {
  color: white;
  text-decoration: none;
}

.popup-desc ul {
  list-style-type: circle;
}

.popup-desc li {
  letter-spacing: 3px;
  font-style: italic;
}

.tags,
.tag {
  display: flex;
  align-items: baseline;
}

.tag {
  align-items: center;
  letter-spacing: 2px;
  color: #d2d1d3;
  margin-left: 6px;
}

.meal-comments {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.comment {
  flex-direction: column;
  gap: 1.2em;
}

.user-info {
  flex: 1;
}

.comment b {
  color: #e1362c;
  letter-spacing: 3px;
  font-size: 1.2em;
}

.message {
  background: lightgray;
  color: black;
  padding: 1em 0.5em;
  border-radius: 10px;
  border: 1px solid red;
}

.hidden {
  display: none !important;
}
