@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

.logo {
  width: 250px;
  padding-left: 1rem;
}

.navbar-style {
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 3.5em;
  background: #10141a;
}

.nav-link {
  color: #e1362c;
  font-weight: 600;
  letter-spacing: 8px;
  font-size: 1.2em;
  animation: comein 3s 1 ease-in-out;
}

@keyframes comein {
  0% {
    letter-spacing: 20px;
  }

  70% {
    letter-spacing: 5px;
  }

  100% {
    letter-spacing: 8px;
  }
}

.nav-link:hover {
  color: green;
  cursor: pointer;
}

main {
  background-color: #4f2d2b2b;
}

.headline {
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 450px;
}

h1 {
  font-size: 3.8em;
  font-weight: bold;
  letter-spacing: 5px;
  color: #e1362c;
  filter: drop-shadow(2px 2px 4px gray);
  animation-name: fadeindown;
}

.headline > p {
  font-size: 2.5em;
  filter: drop-shadow(2px 2px 4px gray);
}

.footer {
  width: 100%;
  padding: 1.5em 2em;
  font-size: 2em;
  background-color: #10141a;
  color: #d2d1d3;
  border: 3px solid;
}

.footer a {
  color: #e1362c;
  text-decoration: none;
}

.footer a:hover {
  color: green;
}

.popuphidden {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background-color: #c1c7d0a6;
  backdrop-filter: blur(3px);
  height: 100vh;
  z-index: 1000;
}

.popupcard {
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: auto;
  overflow-y: scroll;
  margin: 20px;
}

.poptitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #172b4d;
  font-size: 32px;
  font-weight: 700;
}

.popclose {
  align-content: end;
  right: 35px;
  float: right;
  width: 20px;
  position: absolute;
}

.popdetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  color: #7a869a;
  margin-left: 16px;
}

.popimg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popdescrip {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-left: 16px;
  margin-right: 16px;
}

.hidden {
  display: none;
}

.comments-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.btn {
  background-color: rgb(74, 76, 76);
  color: #e1362c;
  font-weight: 400;
}

.comments-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
